.shop-container {
  display: flex;
  width: 100%;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  /* 主轴上的对齐方式：水平居中 */
  align-items: center;
}

.list-card {
  width: 90%;
  /* gap: 8px; */
  /* padding: 10px; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
  /* 这里设置为淡灰色背景 */

}

.list-item {
  margin: 30px;
}

/* .item-card{
  margin-top: 10px;
  margin-bottom: 10px;
} */

.order-image {
  height: 12rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}