.product-card {
    width: 240px; /* 设置固定宽度 */
    height: 360px; /* 设置固定高度 */
    overflow: hidden; /* 防止内容溢出 */
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
  }

  .plus-icon{
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .product-card-container {
    display: flex;
    /* justify-content: center; 水平居中 */
    align-items: stretch; /* 避免卡片垂直拉伸 */
    flex-wrap: wrap; /* 允许卡片换行 */
    gap: 16px; /* 卡片之间的间距 */
  }
