.card-container {
    display: flex;
    /* justify-content: center; 水平居中 */
    align-items: stretch; /* 避免卡片垂直拉伸 */
    flex-wrap: wrap; /* 允许卡片换行 */
    gap: 16px; /* 卡片之间的间距 */
  }
  
  /* 调整单个Card的样式 */
  .ant-card {
    margin: 12px; /* 为卡片添加外边距 */
  }

  .custom-card {
    width: 240px; /* 设置固定宽度 */
    height: 400px; /* 设置固定高度 */
    overflow: hidden; /* 防止内容溢出 */
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .card-image {
    width: 100%;
    height: auto;
    display: block; /* Remove extra space below the image */
    object-fit: cover; /* Cover the height of the card cover */
    aspect-ratio: 1 / 1; /* Set aspect ratio for the image */
  }

  .link{
    text-decoration: none
  }
  


  