.navbar-container {
    background-color: #f8f9fa; /* 背景色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 阴影效果 */

    width: 100%; /* 宽度覆盖整个视口宽度 */
    z-index: 1000; /* 确保导航栏在最上层 */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* 上下10px的填充，左右20px的填充 */
    max-width: 1200px; /* 最大宽度，根据需要调整 */
    margin: 0 auto; /* 水平居中 */
    height: 60px; /* 导航栏高度 */
  }
  
  .navbar-logo {
    font-size: 24px;
    color: #3293C6; /* 根据你的设计调整 */
    font-weight: bold;
  }

  .navbar-links {
    display: flex;
    justify-content: space-around; /* 使链接在nav中均匀分布 */
    width: 50%;
  }

  
  .navbar-links .nav-link {
    text-decoration: none;
    color: #333;
    margin: 0 10px; /* 确保链接之间有适当的空间，可以根据需要调整 */
  }
  
  .navbar-icons {
    display: flex;
  }
  
  .navbar-icons button {
    background: none;
    border: none;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .navbar-icons .badge {
    background-color: red;
    color: white;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 10px;
    position: relative;
    top: -10px;
    right: 10px;
  }
  
  /* 可以使用Font Awesome或其他图标库的图标 */
  /* 以下是假设使用Font Awesome的样式 */
  .fas {
    font-size: 1.2rem;
  }
  
  /* 确保主要内容不被固定的导航栏遮挡 */
 
  